@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(231, 246, 255, 1);
}

.font-jomolhari {
    font-family: 'Jomolhari', sans-serif;
}

.font-kameron {
    font-family: 'Kameron', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 639px) {
    .container {
        max-width: 360px;
    }
}

@media (min-width: 640px) and (max-width: 1279px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus::placeholder {
    opacity: 0;
}
