@import "tailwindcss";

body {
    background: rgba(231, 246, 255, 1);
}

.font-jomolhar {
    font-family: 'Jomolhar', sans-serif;
}

.font-kameron {
    font-family: 'Kameron', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.rotate-180 {
    transform: rotate(180deg);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus::placeholder {
    opacity: 0;
}

